<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="enVisioner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <enVisioner.Properties.Settings>
            <setting name="lastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="lastSize" serializeAs="String">
                <value>800, 720</value>
            </setting>
        </enVisioner.Properties.Settings>
    </applicationSettings>
</configuration>